* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Comfortaa', sans-serif;
}

body {
	background-color: var(--accent);
	color: var(--text);
	overflow-x: hidden;
}
header {
	font-family: 'Comfortaa', sans-serif;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	/* Добавим цвет и ширину блока для наглядности*/
	// background-color: #444;
	width: 100%;
}
